.modal-header {
    border-bottom: 2px solid #1D3B55;
}

.modal-content {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.modal-title, .modal-btn {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #1D3B55;
}

.modal-btn:hover {
    background: #e1e1e1;
}
.modal-footer {
    justify-content: space-between;
}
