.login-form {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  .form-group {
    width: 100%;
  }
}

.forget-pass {
  display: flex;
  align-items: center;
  position: relative;
  a {
    border-bottom: 1px solid #fff;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    &:hover {
      transition: color .3s;
      cursor: pointer;
      color: #dcdcdc;
      text-decoration: none;
    }
  }
}

.form-group {
  .loader-wrap {
    padding-top: 0;
    .lds-ring {
      div {
        border-color: #fff transparent transparent transparent;
      }
    }
  }
}
// R
.login-title{
  display: none;
}
@media (max-width : 480px) {
  .login-title{
    width: 280px;
    height: 35px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    background: linear-gradient(90deg, #2B9CFF 0%, #9610FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
    margin: 150px auto 15px auto;
          &::after{
            /* Градиент */
            background: #ffffff;
            background: linear-gradient(to right, #2B9CFF  0%, #9610FF 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2B9CFF', endColorstr='#9610FF', GradientType=1);
            content: "";
            display: block;
            /* Толщина !!!*/
            height: 2px;
            width: 70%;
            margin: 10px auto;
  }
}
}
// R