.form-container {
    border-radius: 20px;
    height: 100%;
    color: white;
    font-family: Roboto, sans-serif;
    background: #1D3B55 url('./assets/report.png') no-repeat 80px 20px;
    max-width: 600px;
    margin: 100px auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}

.form-header {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    font-weight: 500;
    font-size: 35px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.form-group {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
}


.form-input {
    display: block;
    padding: 10px;
    width: 450px;
    max-width: 450px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.form-group label {
    margin-bottom: 6px;
    margin-left: 15px;
    padding: 0;
    display: block;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url("./assets/cancel.png");
    background-repeat: no-repeat;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545
}

.submit-btn {
    margin: 50px 0;
    text-transform: uppercase;
    width: 270px;
    padding: 12px 0px;
    border-radius: 50px;
    border: none;
    background: linear-gradient(180deg, #53A2FC -61.96%, #0051AD 131.52%);
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    align-self: center;
}

@media (max-width: 570px) {
    .form-input {
        width: 300px;
    }
}

@media (max-width: 370px) {
    .form-input {
        width: 200px;
    }
    .submit-btn {
        width: 200px;
    }
}

