.form-container {
    border-radius: 20px;
    color: white;
    background: url('./assets/report.png') no-repeat 80px 20px, linear-gradient(89.73deg, #2B9CFF 0.14%, #9610FF 99.83%);
    max-width: 600px;
    margin: 100px auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}

.form-header {
    padding: 50px 0;
    font-weight: 500;
    font-size: 35px;
}


.form-group {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
}


.form-input {
    display: block;
    padding: 10px;
    width: 450px;
    max-width: 450px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.form-group label {
    margin-bottom: 6px;
    margin-left: 15px;
    padding: 0;
    display: block;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url("./assets/cancel.png");
    background-repeat: no-repeat;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545
}

.submit-btn {
    box-sizing: border-box;
    height: 55px;
    margin: 36px 0;
    text-transform: uppercase;
    width: 300px;
    padding: 12px 0;
    border: none;
    background: #40FFFF;
    border-radius: 10px;
    color: #6352FF;
    font-weight: bold;
    font-size: 19px;
    line-height: 22px;
    align-self: center;
}

@media (max-width: 570px) {
    .form-input {
        width: 300px;
    }
}

@media (max-width: 370px) {
    .form-input {
        width: 200px;
    }
    .submit-btn {
        width: 200px;
    }
}

