.time-table {
  color: #1D3B55;
  border: 1px solid #2B9CFF;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px 5px 20px 5px;
  max-width: 640px;
  &__wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  &__title {
    font-size: 15px;
    font-weight: 500;
    margin: 20px 0;
  }
  th, &__empty-row {
    height: 63px;
  }
  th, td {
    border: 1px solid #2B9CFF;
    text-align: center;
    padding: 5px;
    font-size: 10px;
    font-weight: 500;
    line-height: 21px;
  }
  table {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 1px solid #2B9CFF;
    overflow: hidden;
  }
  &__border {
    border: 1px solid #2B9CFF;
    border-radius: 10px;
  }

  @media (min-width: 480px) {
    padding: 10px 40px 20px 40px;
    &__title {
      font-size: 20px;
    }
    th, td {
      padding: 10px;
      font-size: 12px;
    }
  }
  @media (min-width: 768px){
    td, th {
      font-size: 18px;
    }
  }
}