.Navbar {
    height: 75px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    background: linear-gradient(90deg, #2B9CFF 0%, #9610FF 100%);
    position: fixed;
    width: 100%;
    z-index: 1;
    &__logo {
        display: flex;
        align-items: center;
        img {
            padding-left: 35px;
            width: 90px;
        }
    }
    &__links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        img {
            padding: 0 10px;
            float:left;
        }
    }
    &__link {
        padding: 0 10px;
        border-right: 1px solid white;
        font-size: 16px;
        font-weight: bold;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        p {
            color: white;
            margin-bottom: 0;
        }
        a {
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            &:hover {
                transition: color .3s;
                cursor: pointer;
                color: #dcdcdc;
                text-decoration: none;
            }
        }
        &:last-child {
            border:none;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
    }
    &__logout-btn {
        border: none;
        background-color: transparent;
        color: white;
        font-weight: bold;
    }
    &__guest-link {
        font-size: 11px;


        &-icon{
        visibility: hidden;
        display: none;
        }
    }
    &__square {
        height: 75px;
        width: 75px;
        background: #0064FB;
    }
    &__dropdown {
        button {
            padding: 0;
            display: flex;
            margin-right: 35px;
            background: transparent;
            border: none;
            &:after {
                display: none;
            }
            &:hover {
                background: transparent;
            }
            &:focus {
                outline: none;
                box-shadow: none;
            }
            &:active {
                background: transparent !important;
            }
        }
    }
    .show>.btn-primary.dropdown-toggle {
        background-color: transparent !important;
    }
    .show>.btn-primary.dropdown-toggle {
        box-shadow: none !important;
    }

    // Edits
    @media (max-width : 480px) {

        height: 61px;
        // Burger
        .Navbar__guest-link{
              width: 20px;
            & p{
           display: none;
        }
             &-icon{
            color: #40ffff;
            visibility: visible;
            display:inline-block;
        }
    }
//vars
$fg:#2B9CFF;
$pi:3.14;

//config
$menu-items:4;
$open-distance:45px;
$opening-angle:$pi*2;

%goo{
  filter:url('#shadowed-goo');
  // debug
  //background:rgba(255,0,0,0.2);
}
%ball{
  background:$fg;
  border: none;
  border-radius:100%;
  width:36px;
  height:36px;
  margin-left:-40px;
  position:absolute;
  color:white;
  text-align:center;
  line-height:76px;
  transform:translate3d(0,0,0);
  transition:transform ease-out 200ms;
}

.menu-open{
  display:none;
}
.menu-item{
  @extend %ball;
}
.menu-item a{
    margin-top: -20px;
}
.hamburger{
  $width:14px;
  $height:2px;
  width:$width;
  height:$height;
  background:#40ffff;
  display:block;
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-$width/2;
  margin-top:-$height/2;
  transition:transform 200ms;
}
$hamburger-spacing:6px;
.hamburger-1{
  transform:translate3d(0,-$hamburger-spacing,0);
}
.hamburger-2{
  transform:translate3d(0,0,0);
}
.hamburger-3{
  transform:translate3d(0,$hamburger-spacing,0);
}
.menu-open:checked+.menu-open-button{
  .hamburger-1{
    transform:translate3d(0,0,0) rotate(45deg);
  }
  .hamburger-2{
    transform:translate3d(0,0,0) scale(0.1,1);
  }
  .hamburger-3{
    transform:translate3d(0,0,0) rotate(-45deg);
  }
}
// .menu{
//   @extend %goo;
//   $width:650px;
//   $height:150px;
//   position:absolute;
//   left:50%;
//   margin-left:-80px;
//   padding-top:20px;
//   padding-left:80px;
//   width:$width;
//   height:$height;
//   box-sizing:border-box;
//   font-size:20px;
//   text-align:left;
// }


.menu-item{
  &:hover{
    background:white;
    color:$fg;
  }
  @for $i from 1 through $menu-items{
    &:nth-child(#{$i+2}){
      transition-duration:180ms;
    }
  }
}

.menu-open-button{
  @extend %ball;
  z-index:2;
  transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transition-duration:400ms;
  transform:scale(1.1,1.1) translate3d(0,0,0);
  cursor:pointer;
}
.menu-open-button:hover{
  transform:scale(1.2,1.2) translate3d(0,0,0);
}
.menu-open:checked+.menu-open-button{
  transition-timing-function:linear;
  transition-duration:200ms;
  transform:scale(0.8,0.8) translate3d(0,0,0);
}

.menu-open:checked~.menu-item{
  transition-timing-function:cubic-bezier(0.165, 0.840, 0.440, 1.000);
  @for $i from 1 through $menu-items{

    &:nth-child(#{$i+2}){
      transition-duration:90ms+(100ms*$i);
      transform:translate3d(-50px*$i,0,0);
    }
  }
}


    }
    @media (min-width: 480px) {
      .bm-burger-button {
        width: 30px;
        height: 25px;
    }
        .menu-open{
            display: none;
        }
        &__logo {
            img {
                width: 118px;
            }
        }
        &__guest-link {
            font-size: 16px;
        }
        &:last-child {
            padding-right: 35px;
            border:none;
        }




    }
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 33px;
    transform: translateY(-50%);
}
@media (max-width: 480px) {
  .bm-burger-button {
    width: 30px;
    height: 25px;
}
}
/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #fff;
    height: 15% !important;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #40ffff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: #2B9CFF;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: inline-block;
    border: none;
    margin: 10px 0;
    text-transform: uppercase;
    img {
        margin-right: 25px;
        height: 25px;
        width: 25px;
    }
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}
