.Button{
    display: inline-block;
    padding: 12px ;
    border-radius: 50px;
    border: 1px solid #53A2FC;
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    width: 300px;
}

.Button:focus {
    outline: none;
}

.Button:active {
    box-shadow: inset 2px 2px 1px rgba(0, 0, 0, .3);
}

.Button:disabled {
    background: #ccc;   
    color: black;
    cursor: not-allowed;
}

.Button.error{
    background: rgba(240, 87, 108, 1);
}

.Button.success{
    background: rgba(161, 240, 169, 1);
}

.Button.primary{
    background: linear-gradient(180deg, #53A2FC -61.96%, #0051AD 131.52%);
    color: #fff;
}