.MainButton {
  background: linear-gradient(90deg, #388BFF 0%, #8823FF 100%);
  border-radius: 10px;
  font-size: 19px;
  line-height: 22px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  &:disabled {
    color: #212529;
    background: #e2e6ea;
    cursor: not-allowed;
  }
  // R
  @media (max-width : 480px) {
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    padding: 7px, 80px;
  }
//  R
}