.MainButton {
  background: linear-gradient(90deg, #388BFF 0%, #8823FF 100%);
  border-radius: 10px;
  font-size: 19px;
  line-height: 22px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
}