@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light'), local('Roboto-Light'), url('./fonts/roboto/Robotolight.woff2') format('woff2'), url('./fonts/roboto/Robotolight.woff') format('woff'), url('./fonts/roboto/Robotolight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'), url('./fonts/roboto/Roboto.woff2') format('woff2'), url('./fonts/roboto/Roboto.woff') format('woff'), url('./fonts/roboto/Roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('Roboto-Medium'), url('./fonts/roboto/Robotomedium.woff2') format('woff2'), url('./fonts/roboto/Robotomedium.woff') format('woff'), url('./fonts/roboto/Robotomedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'), local('Roboto-Bold'), url('./fonts/roboto/Robotobold.woff2') format('woff2'), url('./fonts/roboto/Robotobold.woff') format('woff'), url('./fonts/roboto/Robotobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Black'), local('Roboto-Black'), url('./fonts/roboto/Robotoblack.woff2') format('woff2'), url('./fonts/roboto/Robotoblack.woff') format('woff'), url('./fonts/roboto/Robotoblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
