@import "fonts";
@import "commonStyles/dropdown";
@import "commonStyles/admin-table";
@import "commonStyles/admin-crud-modal";

body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.App {
  text-align: center;
  &__content-wrap {
    display: flex;
    height: 100%;
  }
  &__content {
    margin: 75px auto 0 auto;
  }
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1330px;
  box-sizing: border-box;
}

input, select:read-only {
  opacity: 1;
}
