.Home {
  padding: 20px 0;
  font-family: Roboto, sans-serif;
  &__categories {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  select {
    box-sizing: border-box;
    height: 45px;
    padding: 0 10px;
    margin: 10px 0;

    width: 100%;
  }

  &__btn {
    padding: 12px 80px;
    margin: 10px;
  }
  @media (min-width: 768px) {
    select {
      width: 323px;
    }
  }
  @media (min-width: 1024px) {
    &__categories {
      flex-flow: row wrap;
    }
    &__departments {
      select {
        width: 222px;
      }
    }
    &__groups {
      select {
        //padding: 12px 75px 15px 15px;
        width: 135px;
      }
    }
    &__subject-types {
      select {
        //padding: 12px 190px 15px 15px;
        width: 222px;
      }
    }
    &__subjects {
      select {
        //padding: 12px 120px 15px 15px;
        width: 323px;
      }
    }
  }
}

.filter-select {
  border-radius: 10px;
  border-color: #2B9CFF;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  outline: none;
  &__wrap {
    position: relative;

    width: 100%;
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 18px;
      transform: translateY(-50%);
      background: url('../../assets/select-arrow.png') no-repeat center center;
      width: 13px;
      height: 13px;
      pointer-events: none;
    }
  }
  @media (min-width: 768px) {
    &__wrap {
      width: initial;
    }
  }
  @media (min-width: 1024px) {
    &__wrap {
      margin: 0 10px;
    }
  }
}