.AdminGroups {
  padding: 10px;
  color: #1D3B55;
  &__groups-table {
    height: 260px;
  }
  &__students-table {
    height: 390px;
  }
  &__filter {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__search {
    width: 472px;
  }
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-flow: column;
    margin-top: 10px;
    align-items: center;
  }
  &__filter-btn {
    padding: 10px 0;
    font-size: 13px;
    width: 124px;
  }
  &__add-group-btn {
    background: transparent;
    border: 1px solid #2B9CFF;
    color: #2B9CFF;
    padding: 10px 0;
    width: 200px;
    font-size: 13px;
  }
  &__row {
    &:hover {
      cursor: default;
      background: rgba(43, 156, 255, .1);
      transition: background-color ease-in-out .2s;
    }
  }
  &__students-wrap {
    margin-top: 20px;
  }
  &__selected-row {
    background: rgba(43, 156, 255, .2);
  }
  &__select-group {
    font-size: 24px;
  }
  &__empty-users {
    font-size: 24px;
  }
  &__not-found {
    font-size: 24px;
  }
  @media (min-width: 480px) {
    &__filter {
      justify-content: normal;
    }
    &__buttons {
      flex-flow: row;
    }
    &__filter-btn {
      margin-left: 14px;
    }
    &__add-group-btn {
      margin-left: 60px;
    }
  }
  @media (min-width: 768px) {
    &__groups-table {
      width: 60vw;
    }
  }
  @media (min-width: 965px) {
    &__buttons {
      margin-top: 0;
    }
  }
}

#delete-group-modal {
  .styles_closeButton__20ID4 {
    display: none;
  }
}

#delete-student-modal {
  .styles_closeButton__20ID4 {
    display: none;
  }
}

